# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Docker
# =========================
*.log

# =========================
# Kubernetes / Istio
# =========================
kubeconfig
*.yaml.bak

# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# =========================
# Lambda / Build Artifacts
# =========================
*.zip

# =========================
# Security / Secrets
# =========================
*.pem
*.key

# =========================
# Temp / Cache
# =========================
*.tmp
*.cache
.scannerwork/
checkov-env/
bin/
# Node
node_modules/
npm-debug.log

# Environment
.env

# OS files
.DS_Store

# Logs
*.log

# AWS keys (VERY IMPORTANT)
*.pem

# Terraform (if used later)
*.tfstate
*.tfstate.backup
